<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThankYou</title>
    <link rel='stylesheet' href="/static/Style.css">
</head>
<body>
        <h1>thank you for visiting our site(:</h1>
        <div class = "images">
        <img src="{{ url_for('static', filename='images/mycat.png') }}" alt="ErorSorryNoInternet(:" style="width: 600px; height: auto;">
        <img src="{{ url_for('static', filename='images/rrrd.jpg') }}" alt="ErorSorryNoInternet(:" style="width: 600px; height: auto;">
    </div>
</body>
</html>